p {
	font-family: Montserrat, Arial;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: Montserrat, Arial;
	margin: 0 auto;
	padding: 0;
	background-color: white;
    max-width: 1400px;
}

/* Header Styles */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	padding: 15px 60px;
	position: fixed;
	background-color: white;
	z-index: 1000;
}

.left-section {
    color: #054C73;
    font-size: 18px;
}

.middle-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	font-weight: bold;
	font-size: 16px;
}

.right-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.middle-section .shop{
    color: #054c73;
}

.active {
	color: #054c73;
}

#hamburger-menu{
    display: none;
}

#hamburger-menu .fa{
    font-size: 30px ;
}

/* Main Container */
.main-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 60px 80px 60px;
}

.cart-title {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 24px;
}

.cart-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Cart Table */
.cart-table-container {
    overflow-x: auto;
    border: 1px solid #111111;;
    border-radius: 4px;
    margin-bottom: 16px;
    border-radius: 10px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th {
    font-weight: 600;
    color: #111111;
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #111111;;
}

.cart-table td {
    padding: 40px;
    text-align: center;
    vertical-align: middle;
}

.product-image-container {
    display: flex;
    justify-content: center;
}

.product-image {
    width: 100%;
    height: 113px;
    object-fit: cover;
}

.product-name, .product-price, .product-subtotal {
    font-size: 14px;
    font-weight: 500;
    color: #111111;
}

/* Quantity Control */
.quantity-control {
    display: flex;
    justify-content: center;    
}

.qty-control {
    display: inline-flex;
    align-items: center;
    border: 1px solid #979797;   
}

.qty-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #054C73;
    border: none;
    cursor: pointer;
}

.qty-value {
    min-width: 12px;
    min-height: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 8px;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
}

.remove-btn{
    background: white;
    border: none;    
}

/* Cart Actions */
.cart-actions {
    display: flex; 
    align-items: start;
    justify-content: space-between;   
    margin-top: 10px;
}

.coupon-section {
    display: flex;
    margin-bottom: 24px;
    width: 476px;
    max-width: 100%;
}

.coupon-input {
    border: 1px solid #111111;
    padding: 12px 12px;
    width: 346px;
    max-width: 100%;
    font-size: 14px;
    color: #979797;
    font-weight: 500;
}

.coupon-btn {
    background-color: #054C73;
    color: white;
    padding: 8px 12px;
    width: 131px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

/* Cart Total */
.cart-total {
    width: 100%;
    max-width: 714px;
    padding-left: 60px;
}

.cart-total-title {
    font-size: 24px;
    font-weight: 700;
    color: #111111; 
    margin: 0 0 16px 0;
    padding: 0;    
}

.total-details {
    border: 1px solid #111111;
    border-radius: 10px; 
    display: flex;    
    justify-content: space-between;
    flex-direction: column;  
    text-transform: uppercase;     
}

.total-row {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;  
    font-size: 14px;
}

.total-row h3{
    font-weight: 600;
}

.total-row p{
    font-weight: 600;
}

.tax-row {
    border-bottom: 1px solid #111111;
    border-top: 1px solid #111111;
}

.checkout-btn {
    background-color: #054C73;
    color: white;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
    border: none;
    cursor: pointer;
}

/* Footer Section */
footer {
	background-color: #054c73;
	display: grid;
	grid-template-columns: 1.5fr 2fr;
	align-items: center;
	gap: 30px;
	padding: 30px 150px;
	color: white;
}

.footer-title {
	padding: 20px 0px;
	font-weight: bold;
}

.footer-desc {
	line-height: 30px;
}

.instagram-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	font-weight: bold;
}

.instagram-gallery {
	height: auto;
	width: 500px;
    max-width: 100%;
}

@media (max-width: 1200px){
    .cart-table th {
        padding: 20px 15px;
    }

    .cart-table td {
        padding: 40px 30px;
    }

    footer{
		padding: 30px 100px;
	}
}

@media (max-width: 1035px) {
    .cart-table th {
        padding: 20px 12px;
    }

    .cart-table td {
        padding: 40px 20px;
    }
}

@media (max-width: 920px) {
    .cart-table{
        min-width: 879px;
    }
    
    .cart-table th {
        padding: 20px 10px;
    }

    .cart-table td{
        padding: 40px 10px;
    }

    .coupon-section{
        width: 450px;
    }

    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 30px 40px;
    }

}

@media (max-width: 864px) {
    .coupon-section{
        width: 400px;
    }
}

@media (max-width: 816px) {
    .coupon-section{
        width: 350px;
    }
}

@media (max-width: 768px) {
    #hamburger-menu{
		display: inline-block;
	}

	.middle-section {
		position: fixed;
		display: block;
        top: 79px;
        right: -100%;
        background-color: #fff;
        width: 300px;
        height: 100vh;
		flex-direction: column;
		transition: all 0.3s ease-in-out; 
		z-index: 10;
	}

	.middle-section.open{
		right: 0;
		opacity: 1;
		pointer-events: auto;
	}

	.middle-section a{       
        display: block;
        padding: 20px;
    }

    .middle-section a::after{
        transform-origin:0 0;
    }

    .middle-section a:hover::after{
        transform:scaleX(0.2);
    }
}

 @media (max-width: 758px) {
    .cart-actions{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .cart-total{
        padding-left: 0;
    }
}   

/* @media (max-width: 650px) {
    .header{
        padding: 15px 45px;
    }
    
} */

@media (max-width: 512px) {
        .right-section {
        gap: 10px;
    }
}